a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
}

.App {
  height: 100%;
  background: #eee;
}
